<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Landing page for Cozyring.">
    <meta name="author" content="Simon Wu">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}" />
    <title>Cozyring</title>
    <!-- <link rel="canonical" href=""> -->
    <link href="{{ url_for('static', path='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='landing.css') }}" rel="stylesheet">
  </head>
  <body>
    <main role="main" class="container">
      <h1 class="mt-5">Cozyring Landing Page</h1>
      <p class="lead">Edit this landing page in <code>templates/landing.html</code>.</p>
      <p>Welcome to Cozyring, a modern webring.</p>
      <h2>Sitelist</h2>
      <p>Dive into this webring through one of the links below, or visit <a href="{{ url_for('random') }}">a random site</a> from the list.</p>
      <ul>
        {% if sites %}
          {% for site in sites %}
                  <li><a href="{{ site.url }}">{{ site.name }}</a></li>
          {% endfor %}
        {% else %}
          <li>Looks like there aren't any sites added to the ring.</li>
          <li>Add some entries in <code>sites.json</code>!</li>
        {% endif %}
      </ul>
    </main>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Made with <a href="https://github.com/shangmingwu/cozyring">Cozyring</a></span>
      </div>
    </footer>
  </body>
</html>